.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .dashboard-box {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li h3 {
    margin: 0;
    font-size: 18px;
    color: #444444;
  }
  
  li p {
    font-size: 14px;
    color: #666666;
    margin: 5px 0;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .nao-iniciada {
    color: rgb(2, 10, 255);
  }
  
  .em-andamento {
    color: green !important;
  }
  
  .finalizada {
    color: red;
  }
  